<div class="tabbed-container">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Search Results</div>
        </div>
    </div>
    <div class="row search-results">
        <div class="col s12">
            {{#each yelpData.businesses}}
            <div class="row">
                <div class="col s12">
                    <div id="{{id}}" class="card horizontal">
                        <div class="card-image">
                            <img src="{{image_url}}" alt="yelp business image">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p class="card-title">{{name}}</p>
                                <p>Rating: {{rating}}</p>
                                <p>Price: {{price}}</p>
                                <p>Categories: 
                                    {{#each categories}}
                                        <span class="category-text">{{title}}</span>
                                    {{/each }}
                                </p>
                            </div>
                            <div class="card-action right-align">
                                <a href="{{url}}" class="btn waves-effect waves-light red" target="_blank">Open in Yelp</a>
                                <a href="https://www.yelp.com/map/{{id}}" class="btn waves-effect waves-light" target="_blank">Map it!</a>
                                <button id="likeRestaurant" data-id="{{id}}" data-name="{{name}}" class="btn waves-effect waves-light blue">Like</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>